.DS_Store

azure-pipelines-dev.yml

application/cache/*
application/config/s3.php
application/config/env.php
application/config/config.php
application/config/database.php
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
uploads/pos/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace

attachments/
images/logo/
images/family_images/
documents/

application/views/test.php
application/controllers/Test.php

supplierPortal/includes/db.php

docker-compose-local.yaml
sessions/
.env
text.txt