IMAGE_NAME=962705291721.dkr.ecr.ap-southeast-1.amazonaws.com/ilooops
IMAGE_TAG=d2c77c7-8520
BASE_URL=/
DB_HOST=db_ip_address
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=maindb
SMTP_HOST=email_smtp_host
SMTP_USERNAME=email_username
SMTP_PASSWORD=email_password
SMTP_PORT=email_port
SMTP_FROM_ADDRESS=email_from_address
BUCKET_NAME=s3_bucket_name
BUCKET_REGION=s3_bucket_region
BUCKET_ACCESS_KEY=s3_access_key
BUCKET_SECRET_KEY=s3_secret_key
VENDOR_PORTAL_API_BASE_URL=vendor_portal_api_base_url
VENDOR_PORTAL_API_USERNAME=vendor_portal_api_username
VENDOR_PORTAL_API_PASSWORD=vendor_portal_api_password
FROM_EMAIL_URL=value_from_email_url