IMAGE_NAME=962705291721.dkr.ecr.ap-southeast-1.amazonaws.com/ilooops-sme
IMAGE_TAG=664012e-8521
BASE_URL=/
DB_HOST=db_ip_address
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=ilooops_maindb
EMPTY_DB_NAME=QN_empty
